.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 4.4rem;
  background-color: #cf5f55;

  .header-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #fff;
    h1 {
      font-size: 1.8rem;
    }
  }
  .header-icon-left,
  .header-icon-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 4.4rem;
    height: 4.4rem;

    a {
      font-size: 0;
    }
  }
  .header-icon-left {
    left: 0;
    
    .iconfont {
      color: #fff;
      font-size: 3rem;
    }
  }
  .header-icon-right {
    right: 0;
    
    .iconfont {
      color: #fff;
      font-size: 2.2rem;

      &.collected {
        color: #ff9735;
      }
    }
  }
}

